default,default_parser.DefaultParser
web,web_parser.WebParser
Calculator,default_web_parser.DefaultWebParser
Taskbar,default_web_parser.DefaultWebParser
adobe acrobat,ae_pr_parser.AfterEffectParser
word,word_parser.WordParser
powerpoint,ppt_parser.PPTParser
excel,excel_parser.ExcelParser
youtube,default_web_parser.DefaultWebParser
google chrome,default_web_parser.DefaultWebParser
envato elements,default_web_parser.DefaultWebParser
default_web,default_web_parser.DefaultWebParser
vscode,explorer_parser.DefaultParser
sd,default_web_parser.DefaultWebParser
ps,default_parser.DefaultParser
google chrome,default_web_parser.DefaultWebParser
file explorer,explorer_parser.DefaultParser
settings,ae_pr_parser.AfterEffectParser